:root {
  --theme-off-white: #F9FAFD;
  --theme-white: #FFFFFF;
  --theme-purple: #B3ADF7;
  --theme-purple-light: rgba(179, 173, 247, .4);
  --theme-pink: #EE707B;
  --theme-green: #90D0BA;
  --theme-green-light: rgba(144, 208, 186, .4);
  --theme-blue: #7FCFE4;
  --theme-black-1: #1C1A23;
  --theme-black-2: #2D2926;
  --theme-gray-1: #575451;
  --theme-gray-2: #817F7D;
  --theme-gray-3: #ABA9A8;
  --theme-gray-4: #D5D4D4;
}

::selection {
  color: var(--theme-black-1);
  background-color: var(--theme-pink);
}

/* FONTS */
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('../fonts/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* GENERAL */

body {
  background-color: var(--theme-off-white);
  color: var(--theme-black-1);
  font-family: 'Montserrat Regular', sans-serif;
}

h1 {
  font-family: 'Montserrat Semibold', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 2.4em;
}

h3 {
  font-family: 'Montserrat Semibold', sans-serif;
  font-size: 1.8em;
}

h5 {
  font-family: 'Montserrat Medium', sans-serif;
  font-size: 1.2em;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  max-width: 600px;
  line-height: 150%;
  font-family: 'Montserrat Regular', sans-serif;
}

ul, p {
  margin-bottom: 0;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: var(--theme-black-1);
}

/* ID'S & CLASSES */
.language-switcher li a {
  text-decoration: none;
  color: var(--theme-black-1);
  padding: 4px;
}

.active-lang {
  background-color: var(--theme-gray-2);
  color: var(--theme-white) !important;
}

.nav-link.active::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 500px;
  background-color: var(--theme-blue);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

#notification-container a {
  text-decoration: none;
  color: var(--theme-black-1);
}

#notification-container a:nth-child(1)::after {
  content: '|';
  margin-left: 1rem;
  margin-right: 1rem;
}

#notification-container a i.bi {
  height: 40px !important;
}

#roadmap-container {
  /* height: 500px; */
}

#footer-links {
  background-color: var(--theme-blue);
}

#footer-navigation li a {
  font-family: 'Montserrat Medium', sans-serif;
}

#footer-socials li a i {
  font-size: 1.4em;
}

#footer-legal {
  font-size: .8em;
}

.navbar-brand img {
  height: 48px;
}

.nav-link {
  color: var(--theme-black-1);
  font-family: 'Montserrat Medium', sans-serif;
}

.nav-link:hover {
  color: var(--theme-blue);
}

.btn {
  font-family: 'Montserrat Medium', sans-serif;
  width: fit-content;
  padding: 10px 24px;
  border-radius: 36px;
  border: none;
  color: var(--theme-black-1);
}

.btn.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--theme-black-1);
}


.btn:hover {
  background-color: var(--theme-gray-2);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

#belgium-link a {
  text-decoration: none;
  color: var(--theme-black-1);
}

#home-hero {
  background-image: url('./../images/index-hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 980px;
  width: 100%;
  color: var(--theme-white);
}

.pillar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px 0;
  height: 500px;
  width: 400px;
  color: var(--theme-white);
}

#pillar-one {
  background-image: url('./../images/pillar-image-1.jpg');
}

#pillar-two {
  background-image: url('./../images/pillar-image-2.jpg');
  background-position: 0 0;
}

#pillar-three {
  background-image: url('./../images/pillar-image-3.jpg');
}

.pillar h3, .pillar p {
  padding: 1rem 2rem;
  border-radius: 12px;
}

.pillar p {
  font-size: 1em;
}

.tag-line {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 100px;
  height: 4px;
  border-radius: 12px;
}

.simulation-option {
  width: fit-content;
}

.simulation-option-alt {
  font-size: 40px;
  font-family: 'Montserrat Medium', sans-serif;
  width: 140px;
  height: 140px;
  border: 2px solid var(--theme-black-2);
  color: var(--theme-black-2);
  border-radius: 500px;
  transition: .3s ease;
}

.simulation-option:hover, .simulation-option-alt:hover {
  cursor: pointer;
}

.simulation-option i, #positive-check i {
  font-size: 72px;
  padding: 24px 40px;
  border: 2px solid var(--theme-black-2);
  color: var(--theme-black-2);
  border-radius: 500px;
  transition: .3s ease;
}

.simulation-option:hover i, .simulation-option-alt:hover {
  background-color: var(--theme-green);
}

.simulation-option span {
  font-size: 1em;
  max-width: 150px;
  text-align: center;
}

.form-check-input {
  width: 24px !important;
  height: 24px !important;
  border-color: var(--theme-gray-1);
  background-color: transparent;
}

.form-check-label {
  font-size: 1.2em;
  margin-left: 1rem;
}

#navbar-alt-container a {
  text-decoration: none;
  color: var(--theme-white);
  font-family: 'Montserrat Medium', sans-serif;
}

.navbar-brand-alt {
  height: 32px;
  color: var(--theme-white);
}

.login-card {
  border: 2px solid var(--theme-gray-4);
  border-radius: 12px;
  padding: 1.5rem;
}

.login-card a {
  text-decoration: none;
  color: var(--theme-black-2);
}

.login-card i {
  color: var(--theme-blue);
  padding: 4px 8px;
  border: 1px solid var(--theme-blue);
  border-radius: 500px;
  height: fit-content;
  width: fit-content;
}

.login-card img {
  height: 48px;
}

.login-badge {
  width: fit-content;
  font-size: .9em;
  font-family: 'Montserrat Medium', sans-serif;
}

.btn.btn-link {
  text-decoration: none;
}

.btn.btn-link:hover {
  color: var(--theme-black-1);
}

#itsme-button img {
  height: 24px !important;
}

.timeline-wrapper {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  height: .12rem;
  width: 100%;
  padding: 0 4rem;
  background-color: #888;
  list-style-type: none;
  --scale: 1;
  display: flex;
}

.timeline li {
  position: relative;
  width: 20rem;
}

.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%), scale(var(--scale));
  transition: .5s ease;
}

.timeline li::before {
  content: "";
  top: 1rem;
  display: inline-block;
  width: .12rem;
  height: 1rem;
  background-color: #888;
}

.timeline li:nth-child(even)::before {
  top: -1rem;
}

.timeline li:hover::before {
  background-color: blue;
}

.timeline li::after {
  content: attr(data-date);
  top: -3.4rem;
}

.timeline li:nth-child(odd)::after {
  top: 3.4rem;
}

.timeline li:hover:after,
.timeline li .title {
  color: blue;
}

.timeline li .title {
  top: 2.4rem;
  font-size: 1.1rem;
  font-weight: 600;
  white-space: pre;
  opacity: 0;
}

.timeline li:nth-child(odd) >.title {
  top: -2.4rem;
}

.timeline li:hover .title {
  opacity: 1;
}

.data {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #888;
  color: #fff !important;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.timeline li:hover .data {
  background-color: blue;
  --scale: 1.2;
  cursor: pointer;
}

.data.show {
  width: 22rem;
  height: 22rem;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 100;
  box-shadow: 0 .1rem .4rem #0004;
}

.data h3 {
  text-transform: capitalize;
}

.data p {
  background-color: #fff3;
  padding: 1rem;
  border-radius: 1rem;
}

.roadmap-button {
  height: fit-content;
  width: fit-content;
  padding: 14px 8px;
  border-radius: 500px;
  border: none;
  animation: blinker 2s linear infinite;
  color: var(--theme-black-1);
}

.roadmap-button:hover {
  cursor: pointer;
}

.roadmap-button i {
  font-size: 32px;
  padding: 8px 12px;
  border-radius: 500px;
  
}

#info-hub-glides-container .glide__slide {
  max-width: 375px;
}

/* #info-hub-glides-container .glide__arrows .glide__arrow {
  
} */

#profile-cards-container .card {
  max-width: 620px;
}

.theme-pink {
  background: var(--theme-pink);
}

.theme-blue {
  background: var(--theme-blue);
}

.theme-green {
  background: var(--theme-green);
}

.theme-purple {
  background: var(--theme-purple);
}

.theme-purple-light {
  background: var(--theme-purple-light);
  margin-left: 428px;
}

.theme-green-light {
  background: var(--theme-green-light);
  margin-left: 1128px;
}

@keyframes blinker {
  50% {
    opacity: .4;
  }
}

/* Responsive CSS */

