:root {
  --theme-off-white: #F9FAFD;
  --theme-white: #FFFFFF;
  --theme-purple: #B3ADF7;
  --theme-pink: #EE707B;
  --theme-green: #90D0BA;
  --theme-blue: #7FCFE4;
  --theme-black-1: #1C1A23;
  --theme-black-2: #2D2926;
  --theme-gray-1: #575451;
  --theme-gray-2: #817F7D;
  --theme-gray-3: #ABA9A8;
  --theme-gray-4: #D5D4D4;
}

/* FONTS */
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* GENERAL */

body {
  background-color: var(--theme-off-white);
  color: var(--theme-black-1);
  font-family: 'Montserrat Regular', sans-serif;
}

ul, p {
  margin-bottom: 0;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: var(--theme-black-1);
}

/* ID'S & CLASSES */
#language-switcher li a {
  text-decoration: none;
  color: var(--theme-black-1);
  padding: 4px;
}

.active-lang {
  background-color: var(--theme-gray-2);
  color: var(--theme-white) !important;
}

#notification-container a {
  text-decoration: none;
  color: var(--theme-black-1);
}

#notification-container a:nth-child(1)::after {
  content: '|';
  margin-left: 1rem;
  margin-right: 1rem;
}

#notification-container a i.bi {
  height: 40px !important;
}

#roadmap-container {
  background-image: url('../images/svg/roadmap.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#footer-links {
  background-color: var(--theme-blue);
}

#footer-legal {
  font-size: .8em;
}

.navbar-brand img {
  height: 48px;
}

.nav-link {
  color: var(--theme-black-1);
  font-family: 'Montserrat Medium', sans-serif;
}

.nav-item .nav-link.active::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--theme-blue);
}

.btn.btn-primary {
  padding: 10px 24px 10px 16px;
  border-radius: 36px;
  font-weight: 500;
  background-color: var(--theme-green);
  border: none;
  color: var(--theme-black-1);
}
